<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MeetMe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Roboto Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/busy.css"/>

<!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"> </script>

<!-- Moment.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<!-- Boot Strap -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

</head>

<body>
<div class="container-fluid">

  <div class="row header">
    <div class="col-sm-12">
      <h1 class="title">meeting scheduler</h1>
    </div>
  </div>



  <!--
    -- If there are any warnings or other messages from a prior action,
    -- they appear above the rest of the content, just until the next
    -- action.
    -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


  <div class="row content">
    <div class="col-md-12" align="center">
    <h4>Date range</h4>
    <input type="text" id="daterange" size="12"
       class="pull-down"
       style="background: #fff; cursor: pointer; padding: 5px 10px;
       border: 1px solid #ccc; width: 12em" >
    <script type="text/javascript">
    $(function() {
    $('#daterange').daterangepicker(
      {    ranges: {
             'Today': [moment(), moment()],
             'Tomorrow':[moment().add(1, 'days'),
                         moment().add(1, 'days')],
             'This week':[moment(), moment().endOf('week')],
             'Next week':[moment().add(7, 'days').startOf('week'),
                          moment().add(7, 'days').endOf('week')],
             'This month':[moment(), moment().endOf('month')],
             'Within two weeks':[moment(),moment().add(15, 'days')]
          }}
         );
      });
    </script>

    </div>
  </div>
  <div class="row content">
    <div class="col-md-12" align="center">
    <h4>Time range</h4>
      <!-- <label style="width:2.5em;">Min</label> -->
      <input type="time" id="begintime" size="12" class="timeSelector">
      <br/>
      <!-- <label style="width:2.5em;">Max</label> -->
      <input type="time" id="endtime" size="12" class="timeSelector">
    </div>
  </div>
  <div class="row content">
    <div class="col-sm-12" align="center">
      <input type="submit" value="Schedule a meeting!" style="text-align:center;" id="create"/>
    </div>
  </div>

</div>
<script>

  $("#create").click(function() {

      var daterange = $('#daterange').val();
      var begintime = $('#begintime').val();
      var endtime   = $('#endtime').val();

      // Not entirely unique but will still probably work
      // https://stackoverflow.com/questions/10726909/random-alpha-numeric-string-in-javascript
      var generated_id = Math.random().toString(36).slice(2);
      $.ajax({
        type: 'POST',
        contentType: 'application/json',
        dataType: 'json',
        url: '/_create',
        data: JSON.stringify({ 'id': generated_id, 'daterange': daterange,
                               'begintime': begintime, 'endtime': endtime}),
        success: function(data) {


          if (data == true) {
            window.location.assign("/schedule/" + generated_id);
          } else {
            // TODO SHOW ERROR, CREATING NEW SCHEDULE DID NOT WORK
            console.log("Creating new schedule failed!");
          }

        }
      });

  });

</script>


  </div>  <!-- container (for bootstrap) -->
  </body> </html>
