<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Your Meeting Times</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">
  <!-- TIMES DISPLAY -->
  {% if times is defined  %}
    <div class="row">
    {% for time in times %}
      <h5>{{ time }}</h5>
    {% endfor %}
    </div>
  {% endif %}

  <input type="submit" id="add_acc" value="Add an account"/>

  <!-- Show available calendars -->
  {% if g.calendars is defined  %}
    <h5 style="margin-top: 10px;">Available calendars:</h5>
    <div class="row">
    {% for cal in g.calendars if cal.selected %}
      <div class="col-md-4">
        <!-- Create a checkbox, our selection method for the calendars -->
        <label><input type="checkbox" name="calChk" value="{{ cal.id }}"
                      style="margin: 10px;">{{ cal.summary }}</label>
      </div>
    {% endfor %}
    </div>
    <div class="row">
      <input type="submit" id="subChk" value="Add calendar(s)"
             style="margin: 15px">
    </div>
  {% endif %}
</div>


<script>

$("#add_acc").click(function() {
  // TODO google auth and add calendars

  window.location.replace("/choose");
});

$("#subChk").click(function() {
  /*
  Listen for submit click, then make ajax post/get to flask,
  sending selected calendar ids, and getting event list
  */

  //https://stackoverflow.com/questions/19766044/best-way-to-get-all-selected-checkboxes-values-in-jquery
  var calIds = $('input[name="calChk"]:checked').map( function() {
      return this.value;
  }).get();

  console.log("Calendar selection handled: posting " + calIds.length + " calendar ID(s)");

  // Posts CalIds to /_events, reload if success
  $.ajax({
    type: 'POST',
    contentType: 'application/json',
    dataType: 'json',
    url: '/_events',
    data: JSON.stringify({ 'ids': calIds }),
    success: function(data) {
      if (data) { window.location.reload() }
    }
  });
});

</script>

</body> </html>
