<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Your Meeting</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/busy.css"/>

<!-- jQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Moment.js -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Roboto Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Boot Strap -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

<!-- FullCalendar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.print.css" rel="stylesheet">

</head>

<body>
<div class="container-fluid">

<!-- Header Bar -->
<div class="row header">
  <div class="col-sm-12">
    <h1 class="title">/schedule/{{ g.uid }}</h1>
  </div>
</div>

<!-- Content Area -->
<div class="row">
<div class="col-sm-3 content"></div>
<div class="col-md-3 content">


  <!-- Show available calendars -->
  {% if g.calendars is defined  %}
  <h4>Available calendars</h4>
  {% for cal in g.calendars if cal.selected %}
  <!-- Create a checkbox, our selection method for the calendars -->
  <label><input type="checkbox" name="calChk" value="{{ cal.id }}"
                style="margin: 10px;"><i>{{ cal.summary }}</i></label> <br/>
  {% endfor %}
  <input type="submit" id="subChk" value="Add calendar(s)"
         style="margin: 15px"> <br/>
  {% endif %}
  <input type="submit" id="add_acc" value="Check login" style="margin: 15px"/>

</div>

<div class="col-md-4 content">

  <h4>Free times</h4>

    <div id="calendar" style="width: 50vh"></div>

</div>
</div>
</div>

<script>

// https://stackoverflow.com/questions/11178426/how-can-i-pass-data-from-flask-to-javascript-in-a-template
$(document).ready(function() {
  $("#calendar").fullCalendar({
    header: {
      left: "",
      center: "",
      right: ""
    },
    defaultView: "listYear",
    events: {{ g.times|tojson }}
  });

})

$("#add_acc").click(function() {
  // Replace so that you cant go back into auth
  window.location.replace("/choose");
});

$("#subChk").click(function() {
  /*
  Listen for submit click, then make ajax post/get to flask,
  sending selected calendar ids, and getting event list
  */

  //https://stackoverflow.com/questions/19766044/best-way-to-get-all-selected-checkboxes-values-in-jquery
  var calIds = $('input[name="calChk"]:checked').map( function() {
      return this.value;
  }).get();

  console.log("Calendar selection handled: posting " + calIds.length + " calendar ID(s)");

  // Posts CalIds to /_events, reload if success
  $.ajax({
    type: 'POST',
    contentType: 'application/json',
    dataType: 'json',
    url: '/_events',
    data: JSON.stringify({ 'ids': calIds }),
    success: function(data) {
      if (data) {
        window.location.reload();
      } else {
        window.location.assign("/choose");
      }
    }
  });
});

</script>

</body> </html>
